.job-intention {
  background-image: url('../../asset/services-bg.jpg');
}
.my-skill {
  background-image: url('../../asset/skills-bg.jpg');
}
.connect-me {
  background-image: url('../../asset/skills-bg.jpg');
}
.page-commen {
  background-size: 100% 100%;
  height: 100%;
}