.nav-bar {
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  padding: 0 150px;
  height: 70px;
  line-height: 70px;
  background-color: #2c3e50;
  color: #fff;
}
.nav-logo {
  float: left;
}
.nav-list {
  float: right;
}
.nav-item {
  display: inline-block;
  padding: 0 50px;
  cursor: pointer;
}
.active {
  color: #E87E04;
}